*.class
*.txt
*.bat
*.backup
*.gba
0x0.bmp
0x100000.bmp
0x180000.bmp
0x200000.bmp
0x280000.bmp
0x300000.bmp
0x380000.bmp
0x400000.bmp
0x480000.bmp
0x500000.bmp
0x580000.bmp
0x600000.bmp
0x680000.bmp
0x700000.bmp
0x780000.bmp
0x80000.bmp
akira_house.bmp
archive.bmp
bookstore.bmp
classroom.bmp
downtown.bmp
exit.bmp
freeplay.bmp
go_classroom.bmp
go_club.bmp
go_salon.bmp
gym.bmp
haze_school.bmp
heihachi_house.bmp
hikaru_house.bmp
home.bmp
internet_cafe.bmp
kaio_school.bmp
multiplayer.bmp
rankup1.bmp
rankup2.bmp
residential.bmp
residential_1.bmp
shogi_club.bmp
story.bmp
tsumego.bmp
